.App {
  text-align: center;
  margin: auto;
}

html, body {
  background-color: #ffffff;
  font-family: gotham-bold, sans-serif;
  color: #202829;
  max-width: 1000px;
  margin: auto;
}

img {
  max-height: 2rem;
  float: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

header {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #202829;
  padding: 1rem 0rem 1rem 0;
}

h1 {
  font-size: 2.7rem;
  margin: 0;
  color: #ffffff;
  width: 100%;
}

.nav {
  background-color: #202829;
  padding-bottom: 1.5rem;
}

h2 {
  margin-top: 0;
  color: #ffffff;
  text-transform: uppercase;
}

.filter {
  background-color: #202829;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: auto;
  color: #ffffff;
  padding: 1rem;
}

input {
  background-color: #202829;
  color: #ffffff;
  border-color: #ffffff;
  padding: 0.5rem;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 0.5rem;
}

label {
  padding: 0.5rem;
}

button {
  background-color: #ba1f31;
  border-color: #ba1f31;
  color: #ffffff;
  border-style: solid;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin: auto;
  border-width: 0 0 1px 0;
  border-style: dotted;
}

.chartjs-render-monitor {
  max-height: 400px;
  max-width: 800px;
  margin: auto;
}

.Fundamentals {
  background-color: #60adca;
  color: #ffffff;
}

.Backend {
  background-color: #ba1f31;
  color: #ffffff;
}

.Frontend {
  background-color: #202829;
  color: #ffffff;
}

.Project {
  background-color: #f7941d;
  color: #ffffff;
}

.Graduated {
  border-style: solid;
  border-width: 1px;
}

.count1 {
  border-style: solid;
  border-width: 1px;
  border-color: #9ae897;
}

.count2 {
  border-style: solid;
  border-width: 1px;
  border-color: #f7941d;
}

.count3 {
  border-style: solid;
  border-width: 1px;
  border-color: #ba1f31;
}

a {
  box-sizing: inherit;
  text-decoration: none;
  display: block;
  padding: 0 1rem 0 1rem;
  color: #ffffff;
  margin: 0;
  background-color: #ba1f31;
  border-style: solid;
  border-color: #ba1f31 #ba1f31  #202829 #ba1f31;
  border-width: 1px;
}

@media only screen and (min-width: 750px) {
  form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1000px;
  color: #ffffff;
  }

  input {
    margin: auto;
    padding: auto;
  }
  
  label {
    padding: auto;
    margin: auto;
  }

  button {
    padding: auto;
    margin: auto;
  }
}
